# 企业微信配置
SENDKEY=your_sendkey
WECOM_CID=your_corpid
WECOM_SECRET=your_secret
WECOM_AID=your_agentid
WECOM_TOUID=@all

# 缓存配置
CACHE_TYPE=memory
# CACHE_TYPE=redis

# Redis 配置（可选）
REDIS_STAT=OFF
REDIS_ADDR=redis:6379
REDIS_PASSWORD=